.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  line-height: 150px;
  background-color: #222;
  height: 200px;
  padding: 1px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-logo-header {
    width: 100px;
}

.App-tablas {
  width: 80%;
  margin: 0 auto;
  border: 1px solid;
  border-spacing: 1px;
  border-collapse: initial;
}
.App-tablas td{
    text-align: center;
}

.App-tablas tr:nth-child(even) { background: #ddd }
.App-tablas tr:nth-child(odd) { background: #fff}

.redtext {
    color: red;
}
